.Button {
  font-family: 'Ubuntu', "FangSong", "仿宋", STFangSong, "华文仿宋", serif;
  background: none;
  border: 1px black solid;
  cursor: pointer;
  display: inline-block;
  padding: 10px 50px;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;

  &:hover, &:focus {
    border: none;
    background-color: #E16860;
  }
}
