@import "colors.less";

.Button {
  font-size: 1em;
  font-family: 'Ubuntu', "FangSong", "仿宋", STFangSong, "华文仿宋", serif;
  border: 1px black solid;
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;

  &[disabled] {
    cursor: not-allowed;
    background-color: @medium-grey;
    border-color: @light-grey;
  }
}

.Button--secondary {
  background: none;

  &:hover, &:focus {
    border: 1px solid transparent;
    background-color: @logo-salmon;
  }
}

.Button--destructive {
  background: @logo-salmon;
  border-color: @logo-salmon;

  &:hover, &:focus {
    background: @light-salmon;
    border-color: @light-salmon;
  }
}

.Button--primary {
  background: @light-blue;
  border-color: @light-blue;
  color: white;

  &:hover, &:focus {
    border-color: @pale-blue;
    background-color: @pale-blue;
  }
}

