@import "./colors.less";
@import "./fonts.less";

@sidebar-width: 69px;

.SiteLayout {
  font-family: @noto-serif;

  h1, h2, h3, h4, h5, h6 {
    font-family: @ubuntu;
    font-weight: 500;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  h1, h2 {
    color: @logo-salmon
  }

  p {
    font-weight: 400;
  }

  position:relative;
  min-height: 100%;
  min-width: 960px;
}

.SiteLayout--wrapper {
  padding-left: @sidebar-width;
}
