@import '../../colors.less';

.DreamProjectLayout {
  h2, h3, h4, h5 {
    color: black;
    text-transform: uppercase;
    padding: 10px 0;
  }

  .sectionHeader {
    width: 100%;
    border-bottom: 1px solid @medium-grey;
    h1, h2, h3, h4, h5 {
      padding-right: 20px;
      display: inline-block;
    }
  }

  padding: 20px;
  header {
    display: flex;
    h1, nav {
      flex: 1;
      padding-bottom: 0;
    }
    nav {
      text-align: right;
      vertical-align: bottom;
      margin-top: auto;
      ul {
        list-style-type: none;
      }
      .Button {
        border: 0;
        padding: 5px;
        text-transform: none;
        margin: 0 10px;
        font-weight: bold;

        &.DreamProjectLayout--nav--active, &:focus, &:hover {
          background: none;
          color: @logo-salmon;
          border-bottom: 2px solid @logo-salmon;
        }
      }
    }
    padding-bottom: 40px;
  }
}
