@import '../../colors.less';

.Interests--title {
  .Button {
    text-transform: none;
    padding: 5px 10px;
  }
}

.Interests--interests {
  padding-top: 10px;
}

.Interests--interests--category {
  color: @dark-grey;
  padding-right: 10px;
}

.Interests--no-data {
  padding-top: 20px;
}
