/* GYMI-wide common styling. */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6, p {
    padding-bottom: 20px;
}
